/* Affects All //////////////////////////*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(34, 34, 34);
  margin: 0;
}
a {
  color: rgb(0, 140, 255);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 83, 151);
}
span {
  color: rgb(0, 140, 255);
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}
button {
  background-color: rgb(0, 140, 255);
  color: white;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
button:hover {
  background-color: rgb(0, 83, 151);
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
iframe {
  width: 300px;
  height: 200px;
}
/* End of Affects All ////////////////////////// */
/* All Navbar Container //////////////////*/
.all_Navbar_Container {
  position: sticky;
  top: 0;
}
/* End of All Navbar Container ///////////////// */
/* Nav Section /////////////////// */
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(56, 56, 56);
  padding: 20px;
  color: white;
  box-shadow: 3px 3px lightgray;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.search {
  flex: 1;
}
.search input {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.website_name {
  padding: 0 20px;
}

.icon-1 {
  height: 60px;
  /* background-color: white; */
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgb(156, 156, 156);
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.icon-2 {
  padding: 0 20px;
}
/* End of Nav Section /////////////////// */

/* Sub-Navbar //////////////////////////////////// */
/* The navigation menu */
.sub_navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
}

.sub_navbar a {
  display: inline-grid;
  justify-content: center;
  /* align-content: center; */
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  justify-content: flex-end;

  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(0, 140, 255);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(0, 140, 255);
  width: 100%;
}

.subnav-content a {
  color: white;

  justify-content: center;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
}
/* End of Sub-Navbar //////////////////////////////// */

/* Landing Page / Add Video Section /////////////////// */
.add_video_container {
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.landing_Image {
  width: 100%;
  height: 60vh;
  padding-top: 5%;
}

.homepg_main_text {
  justify-items: flex-start;
  align-content: center;
  font-weight: bold;
  font-size: 30px;
}
.home_Text {
  font-weight: bold;
}

/* End of Landing Page / Add Video Section /////////////////// */

/* Upload Playlist Section ////////////////// */
.upload_playlist_container {
  /* Grid */
  grid-template-columns: 1fr 3fr;
  padding: 2em;
  display: grid;
  align-items: center;
}
.upload_text_1 {
  justify-self: center;
  align-self: center;
  color: white;
}
.upload_text_2 {
  background: rgb(56, 56, 56);
  padding: 1em;
}
.upload_text_2 > h3 {
  display: flex;
  color: white;

  justify-content: center;
}
.add_to_playlist_btn {
  margin: 0 0 6em 1em;
}

.recently_added_playlist_videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1em;
  padding: 1em;
}
/* End of Upload Playlist Section ////////////////// */

/* Favorites Section ////////////////// */
.some_favorites_container {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  text-align: center;
  color: white;
}
.some_favorites_container > ul {
  flex-wrap: wrap;
}
.fav_video_text {
  padding-bottom: 60px;
}
/* End of Favorites Section */

/* Share Section ///////////////////// */
.share_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
  background-color: rgb(56, 56, 56);
  color: white;
}
.share_btn {
  width: 120px;
}
/* End of Share Section ///////////////////// */

/* Footer Section  ////////////////////*/
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  width: 100%;
  height: 100px;
  border-top: 1px solid rgb(238, 238, 238);
  box-shadow: -3px -3px lightgray;
}
.footer_top_btn {
  height: 3em;
  justify-content: center;
  width: 120px;
}
/* End of Footer Section  ////////////////////*/

/* Media Section  ////////////////////*/
/* For Big Screens */
@media (min-width: 1020px) {
  .recently_added_playlist_videos {
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    padding: 1em;
    grid-gap: 3em;
  }
}
@media (max-width: 650px) {
  /* All Navbar Container //////////////////*/
  .all_Navbar_Container {
    position: initial;
  }
  /* End of All Navbar Container ///////////////// */

  /* Navbar ////////////////////////////// */
  .nav {
    flex-wrap: wrap;
    justify-items: space-around;
    justify-content: center;

    background-color: rgb(53, 53, 53);
  }
  .icon {
    order: 0 !important;
  }
  .website_name {
    order: 1 !important;
    justify-content: center;
    color: white;
  }
  .search {
    order: 2 !important;
    width: 100%;
  }
  /* End of Navbar /////////////////////////// */

  /* Subnav /////////////////////////////// */
  .subnav .subnavbtn {
    padding: 14px 0;
  }
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap-reverse;
  }
  /* End of Subnav //////////////////////// */

  /* Add Video Section ////////////////*/
  .landing_Image {
    height: 30vh;
  }
  .homepg_main_text {
    font-size: 32px;
    padding: 1em;
    margin: 0;
  }
  .home_Text {
    font-size: 12px;
  }
  .add_video_container {
    padding: 12% 0;
  }
  .add_account_btn {
    margin-bottom: 6em;
  }
  /* End of Add Video Section  /////////////// */

  /* Some Favorites Section ////////////////////////// */
  .some_favorites_container {
    padding: 1em;
  }
  .some_favorites_container > ul {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(56, 56, 56);
    padding: 2em;
    text-align: start;
    grid-gap: 2em;
  }
  .fav_video_text {
    padding: 0;
    font-size: 18px;
    font-weight: bold;
  }
  /* End of Some Favorites Section ////////////////////////// */

  /* Upload to Favorites Section  ////////////////////////// */

  .upload_playlist_container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0;
    justify-items: center;
  }
  .upload_text_2 {
    padding: 0;
  }
  .upload_text_2 > h3 {
    color: white;
  }
  .recently_added_playlist_videos {
    grid-gap: 2em;
  }
  /* End of Upload to Favorites Section ////////////////////////// */

  /* End of Media Section  ////////////////////*/
}
